@use '../utils' as *;

/// btn for theme
.btn-brand {
    border: none;
    outline: none;
    display: inline-block;
    padding: rem(20px) rem(28px);
    border-radius: rem(50px);
    text-align: center;
    text-decoration: none;
    @include transition;
    color: inherit;

    &-primary {
         background: #09aab9;
         color: #ffffff;

         &:hover {
             background: darken(#09aab9, 5);
             color: #ffffff;
         }
    }
}